/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body {
    font-family: 'Ubuntu', serif;
    background-color: #191919;
}

#container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 75%;
    height: auto;
    background-color: #F0EAD6;
    border: 5px solid #bf3113;
    border-radius: 5px;
}

#head-container {
    margin: 40px 40px;
    
      opacity:0;  /* make things invisible upon start */
      -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;
    
      -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;
    
      -webkit-animation-duration:1s;
      -moz-animation-duration:1s;
      animation-duration:1s;
}

#head-image {
    width: 100%;
    box-shadow: 0 0 3px 3px #bf3113;
    border-radius: 5px;

}

#content-container {
    margin: 0 100px;
        
        opacity:0;  /* make things invisible upon start */
      -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;
    
      -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;
    
      -webkit-animation-duration:1s;
      -moz-animation-duration:1s;
      animation-duration:1s;
}

.content-sections {
    margin: 30px 0;
}

.title-container {
    color: #bf3113;
    font-weight: bold;
    transition: all .2s ease-in-out;

}

.quotes {
    color: #a39735;
    font-size: 19px;
    font-weight: bold;
}

.title-container:hover {
    transform: scale(1.2);
}

.quotes:hover {
    transform: scale(1.2);
}

#button-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#buy-btn {
    height: 15%;
    width: 15%;
    margin: auto;
    margin-bottom: 30px;
}



@media only screen and (max-width: 500px) {
    
    body {
        font-size: 14px;
    }

    #head-container {
        margin: 10px 10px;
    }
    
    #content-container {
        margin: 0 40px;
    }
    
    .content-sections {
        margin: 15px 0;
    }
    
    #buy-btn {
        height: 8%;
        width: 15%;
        margin: auto;
        margin-bottom: 30px;
    }

}